body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: thistle;
}

.App {
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixelated;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.colors input[type=radio] {
  display: none;
}

.colors label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-style: solid;
  border-width: thin;
  border-color: #999;
}

.colors input[type=radio]:checked+label {
  border-color: #000;
}

.colors .VIOLET {
  background-color: #FF00FF;
}

.colors .GREEN {
  background-color: #00FF00;
}

.colors .WHITE {
  background-color: #FFF;
}

.colors .BLUE {
  background-color: #00aaFF;
}

.colors .ORANGE {
  background-color: #FFAA00;
}

.colors .BLACK {
  background-color: #000;
}
